<!--Section: Pricing v.4-->
<section class="text-center pb-3 my-5">

  <!--Section heading-->
  <h2 class="font-weight-bold h1 py-5">Our pricing plans</h2>
  <!--Section description-->
  <p class="grey-text pb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi,
      veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>

  <!--Grid row-->
  <div class="row">

      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">
          <!--Card-->
          <div class="card z-depth-0">

              <!--Content-->
              <div class="text-center">
                  <div class="card-body">
                      <h5>Basic plan</h5>
                      <div class="flex-center">
                          <div class="card-circle d-flex justify-content-center align-items-center">
                              <i class="fa fa-home teal-text"></i>
                          </div>
                      </div>

                      <!--Price-->
                      <h2 class="my-3">
                          <strong>59$</strong>
                      </h2>
                      <p class="grey-text">At ab ea a molestiae corrupti numquam quo beatae minima ratione magni accusantium repellat eveniet
                          quia vitae.
                      </p>
                      <a class="btn btn-teal darken-2 btn-rounded waves-light" mdbWavesEffect>Buy now</a>
                  </div>
              </div>

          </div>
          <!--Card-->
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">
          <!--Card-->
          <div class="card teal darken-2">

              <!--Content-->
              <div class="text-center white-text">
                  <div class="card-body">
                      <h5>Premium plan</h5>
                      <div class="flex-center">
                          <div class="card-circle d-flex justify-content-center align-items-center">
                              <i class="fa fa-group white-text"></i>
                          </div>
                      </div>

                      <!--Price-->
                      <h2 class="my-3">
                          <strong>79$</strong>
                      </h2>
                      <p>Esse corporis saepe laudantium velit adipisci cumque iste ratione facere non distinctio cupiditate
                          sequi atque.
                      </p>
                      <a class="btn btn-outline-white btn-rounded waves-light" mdbWavesEffect>Buy now</a>
                  </div>
              </div>

          </div>
          <!--Card-->
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">
          <!--Card-->
          <div class="card z-depth-0">

              <!--Content-->
              <div class="text-center">
                  <div class="card-body">
                      <h5>Advanced plan</h5>
                      <div class="flex-center">
                          <div class="card-circle d-flex justify-content-center align-items-center">
                              <i class="fa fa-line-chart teal-text"></i>
                          </div>
                      </div>

                      <!--Price-->
                      <h2 class="my-3">
                          <strong>99$</strong>
                      </h2>
                      <p class="grey-text">At ab ea a molestiae corrupti numquam quo beatae minima ratione magni accusantium repellat eveniet
                          quia vitae.
                      </p>
                      <a class="btn btn-teal darken-2 btn-rounded waves-light" mdbWavesEffect>Buy now</a>
                  </div>
              </div>

          </div>
          <!--Card-->
      </div>
      <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Pricing v.4-->