
    <!--Intro Section-->
    <section class="view intro-2 rgba-gradient">
        <div class="full-bg-img mask">
            <div class="container flex-center">
                <div class="row flex-center pt-5 mt-3 w-100">
                    <div class="col-md-6 text-center text-md-left margins">
                        <div class="white-text">
                            <h2 class="h1 h1-responsive wow fadeInLeft pt-4" data-wow-delay="0.3s">Make purchases with our app </h2>
                                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                                <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae iste.</h6>
                                <br>
                                <a class="btn btn-outline-white wow fadeInLeft waves-light" data-wow-delay="0.3s" mdbWavesEffect>Learn more</a>
                                <a class="btn btn-outline-white wow fadeInLeft waves-light" data-wow-delay="0.3s" mdbWavesEffect>Download
                                    <i class="fa fa-android left right" aria-hidden="true"></i>
                                    <i class="fa fa-apple left" aria-hidden="true"></i>
                                    <i class="fa fa-windows" aria-hidden="true"></i>
                                </a>
                        </div>
                    </div>

                    <div class="col-md-6 wow fadeInRight d-flex justify-content-center" data-wow-delay="0.3s">
                        <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/iphone-admin.png" alt="" class="img-responsive animated flipInX">
                    </div>
                </div>
            </div>
        </div>
    </section>